* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.Inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* HEADER*/
header {
    padding: 16px 0; 
    background-color: #ffffff; 
    width: 100%;  
}

/* NAV*/
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 1360px;
    margin: 0 auto;
  
 
   
}

/* LOGO */
.logo img {
    display: block;
    height: 60px; 
  
}

/*  LINKS CONTAINER */
.link-parent {
    display: flex; 
    list-style: none; 
    gap: 32px; 
    color:#000000;
}


.link-parent li a {
    text-decoration: none; 
    text-transform: capitalize; 
    font-size: 16px;
    font-weight: 500; 
    color: #001931; 
    
}



/* CALL-TO-ACTION BUTTON */
.my-btn {
    padding: 12px 24px;
    border-radius: 8px; 
    background-color: #469165;
    color: #ffffff; 
    font-size: 16px;
    font-weight: 600;
    line-height: 19px; 
    border: none;
    cursor: pointer;
}

.hover-color:hover {
    background-color:greenyellow;
}

/* hero start */

.hero {
  height: 674px;
  width: 100%;
  background:
    linear-gradient(
      rgba(6, 20, 32, 0.059),
      rgba(6, 20, 32, 0.101)
    ),
    url("../assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   
 
}

.hero-content {

  max-width: 1360px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
 


}

/* Badge */
.hero-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  border-radius: 100px;
  background: #ffffff;
  color: #30b868;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 24px;
}

.badge-dot {
  width: 8px;
  height: 8px;
  background: #30b868;
  border-radius: 50%;
}

/* Heading */
.hero-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero-title span {
  color: #30b868;
}

/* Description */
.hero-text {
 
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
 
}

/* Buttons */
.hero-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}


.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background-color: #30b868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


.btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: none;
}

.play-icon {
  font-size: 14px;
}


/*Ideas*/

.ideas {
  padding: 120px 0;
  background-color: #ffffff;
}

.ideas-container {
  max-width: 1360px;
  margin: 0 auto;
  padding-inline: 24px;

}

/* Heading */
.ideas-heading {
  text-align: center;
margin-bottom: 48px;
color: #001931;
gap: 16px;
}

.ideas-heading h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #001931;
 
}

.ideas-heading p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

/* Cards Layout */
.ideas-box {
  display: flex;
  gap: 24px;
}

/* Card */
.ideas-card {
  background: rgba(255, 255, 255, 1);
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.115);

}

/* Icon */
.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F95555;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.icon-circle img {
  width: 32px;
  height: 32px;
}

/* Text */
.ideas-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 12px;
}

.ideas-card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;

}

#solution {
    padding: 120px 0;
    background-color: #ffffff;
}

.solution-container {
    width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 60px; 
}

.soln-img {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.soln-img img {
    max-width: 100%;
    height: auto;
    display: block;
}

.soln-notes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.soln-tag {

    font-size: 16px;
    font-weight: 500;
    display: block;
    color: #30B868;
}

.soln-notes h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
    text-transform: capitalize;
}

.soln-notes p {
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 10px;
}

.soln-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.soln-list li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    line-height: 20px;
}

.soln-list li img {
    width: 20px;
    height: 20px;
    margin-top: 2px; 
}


#explore-more {
    padding: 120px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.explore-container {
    width: 1360px;
    background-color: #F7F6F2;
    border-radius: 12px; 
    padding: 80px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; 
}

.explore-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.explore-description {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin: 0;
}

.explore-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
}

.explore-cta .btn-primary {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.explore-cta .btn-primary:hover {
    background-color:greenyellow;
}

.explore-cta .btn-primary img {
    width: 20px; 
    height: 20px;
}

.cta-note {
    font-size: 14px;
    color: #627382;
    margin: 0;
}
.footer-container {
    background-color: #001931;
    padding: 120px 0 80px 0;
    color: #ffffff;
}

.footer-content {
    width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 84px;
}

.social {
    text-align: right;
}

.social p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.footer-divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.823);
    margin-bottom: 30px;
    opacity: 0.2;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
